<div class="card card-body">
  <h3>My Profile</h3>
  <form action="/profiles" method="post">
    <div class="form-group">
      <label for="handle">Handle</label>
      <input type="text" class="form-control" name="handle" required>
    </div>
    <div class="form-group">
      <label for="status">status</label>
      <textarea class="form-control" name="status" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>